<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="product_feed_listing_data_source" xsi:type="string">AcademyProductFeedCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AcademyProductFeedCollection" type="Academy\ProductFeed\Ui\DataProvider\ProductFeed\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">product_feed</argument>
            <argument name="resourceModel" xsi:type="string">Academy\ProductFeed\Model\ResourceModel\ProductFeed</argument>
        </arguments>
    </virtualType>
</config>
